// header
header {
  position: absolute;
  width: 100%;
  background: transparent;
  padding: 10px 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;

  .header-logo {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-left: 20px;
    color: #fff;
    letter-spacing: 0.15rem;
    opacity: 1;
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm) {
      padding-left: 0;

      #logo-svg {
        width: 100px;
        margin-left: 10px;
      }
    }
  }

  &:hover {
    #logo-svg {
      opacity: 1;
    }
  }

  ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm) {
      display: none;
    }

    li {
      display: inline-block;
      padding: 0 20px;
      margin-bottom: 0;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 13px;

      a {
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

//mobile toggle
#mobile-toggle {
  z-index: 501;
  position: absolute;
  width: auto;
  margin-right: 10px;
  right: 0;
  top: 18px;
  width: 50px;
  height: 50px;
  opacity: 0.7;
  transition: 0ms;

  &:hover {
    opacity: 1;
  }

  @media (min-width: $screen-sm) {
    display: none;
  }
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: scaleY(0.8);
}
.hamRotate.active {
  transform: rotate(45deg) scaleY(1);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 3.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

//logo
#logo-svg {
  opacity: 1;
  transition: 200ms;
  margin: -25px 10px -25px 0;

  path#path0 {
    fill: linear-gradient(
      to top left,
      rgb(218, 163, 98),
      rgb(231, 138, 92),
      rgb(243, 110, 86),
      rgb(252, 72, 81)
    );
  }
}

.logo-text {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  line-height: 1rem;
  letter-spacing: -0.02rem;
  font-size: 0.8rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;

  @media (max-width: $screen-sm) {
    padding-top: 10px;
  }

  span {
    display: inline-block;
    &::first-letter {
      font-size: 1.1rem;
    }
  }
  p {
    font-size: 0.5rem;
    margin: 3px 0 0 0;
    line-height: 1rem;
    letter-spacing: 0.15rem;
    border-top: 1px solid rgba(123, 123, 123, 0.8);
  }
}

//mobile menu
.mobile-menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  margin: 0;

  li {
    display: inline-block;
    padding: 12px 0;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3.8vw;

    a {
      opacity: 0.7;
      font-weight: 600;

      &:hover {
        opacity: 1;
      }
    }
  }
}
