.post-hero {
  z-index: 0;
  position: relative;

  .mtn-marker {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px 10px 13px;
    border-radius: 25px;
    overflow: hidden;

    p {
      flex: 0;
      margin: 0 0 0 -9px;
      padding: 0 0 0 0;
      font-weight: bold;
      font-size: 0.9rem;
      transition: 400ms;
      line-height: 30px;
      opacity: 0;
      transition-delay: opacity 0.4s;
      white-space: nowrap;
    }

    &:hover {
      width: auto;
      p {
        flex: 1;
        opacity: 1;
      }
    }

    svg {
      font-size: 24px;
    }
  }
}
.post-hero:after {
}
.home-box {
  background: #fff;
  color: #333;
  border-radius: 10px;
  padding: 40px 20px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 01000px;
  max-width: 90%;
  transform: translate(-50%, 50%);
  z-index: 2;
  min-height: 300px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.07);
}
.home-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  z-index: -1;
}
.flex {
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.button {
  display: block;
  margin-top: 2rem;
  background: #fff;
  padding: 18px 20px;
  text-align: center;
  width: auto;
  max-width: 200px;
}
#wwd {
  padding: 0 0 0 0;
  z-index: 5;
}
@keyframes bounce1 {
  0% {
    transform: translateX(-3px);
  }
  70% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(-3px);
  }
}
.wwd {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

  p {
    max-width: 600px;
    margin: 10px auto;
  }

  > div,
  ul {
  }
  .wwd-content {
    padding-right: 40px;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    justify-content: space-between;
    padding: 0;
    border-top: 0px solid rgba(124, 124, 124, 0);
    border-bottom: 3px solid rgba(124, 124, 124, 0);
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);

    li {
      width: 25%;
      display: flex;
      flex-direction: column;
      padding: 30px 30px 30px 30px;
      align-items: flex-start;
      font-family: 'Open Sans';
      //border-right: 1px solid rgba(124, 124, 124, 0);
      margin-bottom: 0;
      cursor: pointer;
      justify-content: flex-start;
      border-radius: 0px;
      padding-top: 20px;
      text-transform: uppercase;
      position: relative;

      transition: 700ms;

      @media (max-width: $screen-md) {
        width: 50%;
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      &:hover {
        transition: 200ms;

        p,
        h5 {
          color: #fff !important;
        }

        svg {
          animation: bounce1 2s infinite;
        }
      }

      &:last-of-type {
        border-right: none;
      }

      h5 {
        text-align: left;
        font-weight: bold;
        z-index: 1;
        font-family: 'Montserrat', sans-serif;
        margin: 15px 0 0 0;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
      }

      p {
        text-transform: none;
        text-align: left;
        font-size: 0.9rem;
        font-weight: 500;
      }
      svg {
        z-index: 1;
      }

      .blob {
        position: absolute;
        transform: scale(1.3);
        z-index: 0;
        top: -30px;
        transform-origin: center center;
      }

      // &:nth-of-type(1) .blob path {
      //   fill: rgba(191, 95, 255, 1);
      // }
      // &:nth-of-type(2) .blob path {
      //   fill: rgba(190, 26, 34, 1);
      // }
      // &:nth-of-type(3) .blob path {
      //   fill: rgba(0, 13, 133, 1);
      // }
      // &:nth-of-type(4) .blob path {
      //   fill: rgba(76, 208, 212, 1);
      // }
    }

    svg {
      font-size: 24px;
      margin-left: 10px;
    }
  }
}
body {
  font-weight: 500;
}

//philosophy
#assessment,
#strategy,
#scalability,
#kpis {
  padding-top: 70px;
  padding-bottom: 50px;

  h2 {
    margin-top: 30px;
    display: flex;
    align-items: center;

    svg {
      font-size: 60px;
      margin-right: 15px;
    }
  }
}
.philosophy {
  padding: 150px 0 0 0;
  text-align: left;
  overflow: visible;
  margin-bottom: 0px;
  z-index: 4;
  // -webkit-clip-path: polygon(0% 0, 100% 0%, 100% calc(100% - 120px), 0% 100%);
  // clip-path: polygon(0% 0, 100% 0%, 100% calc(100% - 120px), 0% 100%);
  // margin-bottom: -150px;
  position: relative;
  z-index: 1;

  h5 {
    text-align: left;
    font-weight: bold;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    color: #2196f3;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .list-container {
    display: flex;
    > div {
      width: 33.3%;
    }
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    li {
      display: inline-flex;
      width: 100%;
      padding-right: 20px;
      font-family: 'Raleway', sans-serif;
      line-height: 1.2rem;
      align-items: center;

      svg {
        margin-right: 10px;
      }
    }
  }

  p {
    width: 800px;
    max-width: 100%;
  }
  .assessment-container {
    display: flex;
    position: relative;
    flex-direction: column;

    > div {
      width: 100%;

      &:last-of-type {
        width: 100%;
        padding-left: 0px;
        padding-top: 10px;
      }
    }
  }

  @media (max-width: $screen-sm) {
    h2 {
      padding: 0 30px;
    }
    p {
      padding: 0 30px;
    }
  }

  @media (max-width: $screen-xs) {
    .slant,
    .slant2 {
      top: 140px;
    }
  }
  @media (max-width: $screen-xxs) {
    padding: 110px 0 0 0;
    .slant,
    .slant2 {
      top: 180px;
    }
  }
}
#strategy {
  text-align: right;
  padding: 100px 0 200px 0;
  position: relative;

  h2 {
    flex-direction: row-reverse;
  }
}
.philosophy ul.phil {
  list-style-type: none;
  margin-top: 40px;
  display: flex;
  padding: 30px 50px;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
  position: relative;

  li {
    display: inline-block;
    font-size: 40px;
    line-height: 4rem;
    text-align: left;
    position: relative;
    margin: 0;
    cursor: pointer;
    width: 31%;
    .card {
      position: relative;
      height: 35vh;
      width: 100%;

      padding: 20px;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    }

    &::marker {
      font-size: 40px;
      opacity: 0.3;
    }

    h6 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-style: normal;
      margin: 0 0 10px 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 1rem;
    }
    p {
      font-size: 0.85rem;
      text-align: center;
      line-height: 1.3rem;
    }
  }
}

body .stickyN {
  position: relative;
  &:before {
    position: relative;
    height: 108px;
    display: block;
    content: '';
    width: 100%;
  }
}
body .stickyNav {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
  display: flex !important;

  & > div {
    margin: 0 auto;
  }
}

//message
div[role='tabpanel'] {
  max-width: 100%;
  .MuiBox-root {
    padding: 0;
  }
}

@media (max-width: $screen-sm) {
  .MuiTab-wrapper {
    font-size: 0.7rem;
    line-height: 0.9rem;
    justify-content: flex-start !important;

    svg {
      padding-bottom: 5px;
    }
  }
}
.message {
  padding: 10px 0 100px 0;
  width: 800px;
  margin: 0 auto;
  text-align: left;
  font-size: 1rem;
  max-width: 100%;

  p {
    width: 860px;
  }
  h2,
  p {
    padding-right: 100px;
  }
  ol {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px auto 0 auto;

    li {
      &::marker {
        font-size: 70px;
        color: rgba(255, 255, 255, 0.2);
        font-weight: bold;
      }
      display: inline-flex;
      align-items: center;
      margin-bottom: 0;
      position: relative;

      @media (max-width: $screen-sm) {
        width: 50%;
      }

      .card {
        margin: 0 auto 40px auto;
        position: relative;
        padding: 10px 20px 10px 20px;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
        width: 170px;
        font-size: 0.8rem;
        -webkit-clip-path: polygon(10% 0, 100% 0, 90% 98%, 0% 100%);
        clip-path: polygon(10% 0, 100% 0, 90% 104%, 0% 100%);
        z-index: 1;
        max-width: 100%;
        line-height: 1.1rem;
      }

      span {
        position: absolute;
        font-size: 30px;
        line-height: 90px;
        opacity: 0.35;
        right: 25px;
        bottom: -10px;
      }

      svg {
        position: absolute;
        left: 175px;
        top: 30px;
        z-index: 1;

        @media (max-width: $screen-sm) {
          left: calc(50% + 90px);
          top: 30px;
        }
      }
      &:nth-of-type(2) svg {
        @media (max-width: $screen-sm) {
          transform: rotate(148deg);
          left: calc(50% - 90px);
          top: 110px;
        }
      }
      svg,
      svg path {
        transform-origin: (left top);
      }

      &:nth-of-type(2n) {
        //align-self: flex-end;
      }
    }
  }
}
body .message.team {
  text-align: left;
}
body .message.metrics {
  text-align: left;
}
body .message.team ol {
  position: relative;
  height: 200px;
  margin-bottom: 70px;
  li {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 40%;

    .card {
      flex-direction: column;
      display: flex;
      width: 240px;
      padding: 0 10px;
      height: 80px;
      max-width: 100%;
    }

    svg.icon {
      top: auto;
      left: auto;
      position: relative;
      font-size: 28px;
      margin-bottom: 5px;
      transform: none;
    }

    &:nth-of-type(1) {
      top: 70px;
      left: 50%;

      .arrow {
        transform: rotate(40deg);
        top: 82px;
        left: 100%;
      }
    }
    &:nth-of-type(2) {
      top: 100%;
      left: 76%;
      .arrow {
        transform: rotate(180deg);
        top: 60px;
        left: -30%;

        @media (max-width: $screen-sm) {
          left: -10% !important;
        }
      }
    }
    &:nth-of-type(3) {
      top: 100%;
      left: 23%;
      .arrow {
        transform: rotate(-40deg);
        top: -26px;
        left: 50%;
      }
    }
  }
}
.home-about {
  margin-top: -120px;
  padding-top: 130px;
  padding-bottom: 40px;
  position: relative;
  z-index: 10;
  min-height: 400px;
  -webkit-clip-path: polygon(0% 80px, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 80px, 100% 0%, 100% 100%, 0% 100%);

  .img-container {
    position: relative;
    padding-top: 30px;
    margin: 0 auto;

    div {
      width: 105%;
      padding-top: 110%;
      background: rgba(124, 124, 124, 0.3);
      content: '';
      position: absolute;
      z-index: 0;
      top: 2%;
      left: -10%;
      -webkit-clip-path: polygon(0% 50px, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0% 50px, 100% 0%, 100% 100%, 0% 100%);
      max-width: 50vw;
      max-height: 40vw;
    }
  }
  .leader {
    padding-left: 30px;
    @media (max-width: $screen-xs) {
      padding-left: 0px;
    }
  }
  img {
    width: 25vw;
    min-width: 25vw;
    padding-right: 30px;
    z-index: 1;
    position: relative;
    @media (max-width: $screen-xs) {
      width: 50vw;
      margin-bottom: 60px;
    }
  }
  h2 {
    margin: 0 0 30px 0;
  }
  @media (max-width: 1150px) {
    .infographic-container {
      margin-bottom: -130px;
    }
  }

  .container {
    @media (max-width: $screen-xs) {
      flex-direction: column;
    }
  }
}
