.theme-dark {
  background: $color-dark-2;
  color: $color-light-1;
  transition: 200ms;

  .theme-text,
  .theme-text label,
  .theme-text input {
    color: $color-light-1 !important;
    transition: 200ms;
  }
  .theme-fill path,
  .theme-fill {
    fill: $color-light-1 !important;
    transition: 200ms;
  }
  .theme-stroke path {
    stroke: $color-light-1 !important;
    transition: 200ms;
  }
  .theme-bg {
    background: $color-dark-1 !important;
    transition: 200ms;
  }
  .theme-bg-secondary {
    background: $color-dark-2 !important;
    transition: 200ms;
  }
  .theme-bg-tertiary {
    background: $color-dark-3 !important;
    transition: 200ms;
  }
}
.theme-light {
  background: $color-light-1;
  color: $color-dark-2;
  transition: 200ms;

  .theme-text,
  .theme-text label,
  .theme-text input {
    color: $color-dark-2 !important;
    transition: 200ms;
  }

  .theme-fill path,
  .theme-fill {
    fill: $color-dark-2 !important;
    transition: 200ms;
  }
  .theme-stroke path {
    stroke: $color-dark-2 !important;
    transition: 200ms;
  }
  .theme-bg {
    background: $color-light-1 !important;
    transition: 200ms;
  }
  .theme-bg-secondary {
    background: $color-light-2 !important;
    transition: 200ms;
  }
  .theme-bg-tertiary {
    background: $color-light-3 !important;
    transition: 200ms;
  }
}
.theme-dark .theme-fill .fillTransparent,
.theme-light .theme-fill .fillTransparent {
  fill: transparent !important;
}

// Mui
body .PrivateTabIndicator-colorSecondary-6,
body .MuiTabs-indicator {
  background: $gradient;
  height: 3px;
}

.MuiTab-labelIcon:hover,
.MuiTab-labelIcon.Mui-selected {
  background: rgba(124, 124, 124, 0.1);
}

.shape {
  -webkit-clip-path: polygon(0% 5%, 95% 0%, 90% 88%, 4% 85%);
  clip-path: polygon(0% 5%, 95% 0%, 100% 70%, 4% 85%);
  z-index: 0;
  padding-bottom: 4%;
  position: absolute;
  height: 100%;
  width: 104%;
  top: 0;
  left: 0;
  content: '';
  display: none;
}
.shape2 {
  -webkit-clip-path: polygon(0% 50px, 100% 60px, 100% 100%, 0 100%);
  clip-path: polygon(0% 50px, 100% 60px, 100% 100%, 0 100%);
  z-index: 0;
  padding-bottom: 4%;
  position: absolute;
  height: 100%;
  width: 104%;
  top: 0;
  left: 0;
  content: '';
}
.shape3 {
  -webkit-clip-path: polygon(0% 0, 100% 120px, 100% 100%, 0 100%);
  clip-path: polygon(0% 0, 100% 120px, 100% 100%, 0 100%);
  z-index: 0;
  padding-bottom: 4%;
  position: absolute;
  height: 100%;
  width: 104%;
  top: 0;
  left: 0;
  content: '';
}
